<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Toni Menzel" />
   <link href="http://feeds.feedburner.com/okidokiteam" rel="alternate" title="okidokiteam" type="application/atom+xml" />
 	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit 
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->

<!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
      change the UA-XXXXX-X to be your site's ID -->
 <script>
  var _gaq = [['_setAccount', 'UA-2505989-5'], ['_trackPageview']];
  (function(d, t) {
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.async = true;
   g.src = '//www.google-analytics.com/ga.js';
   s.parentNode.insertBefore(g, s);
  })(document, 'script');
 </script>

	<!-- JQuery and JQuery UI -->
	<link type="text/css" href="/css/custom-theme/jquery-ui-1.8.4.custom.css" rel="Stylesheet" />	
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.4.custom.min.js"></script>
</head>
<body>

<div class="site">
  <div class="title">
    <a class="logo" href="/">okidokiteam</a>
<!--
    <a class="extra" href="/pages/about.html">support</a>
    <a class="extra" href="/pages/about.html">about</a>
--> 
 </div>
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
	</script>

<div id="home">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">News</a></li>
			<li><a href="#tabs-2">Projects</a></li>
			<li><a href="#tabs-3">Twitter</a></li>
			<li><a href="#tabs-4">Presentations</a></li>
			<li><a href="#tabs-5">Contact</a></li>
		</ul>
		<div id="tabs-1">
			<ul class="posts">
			    {% for post in site.posts %}
			      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
			    {% endfor %}
			  </ul>
		</div>
			<div id="tabs-2" class="ui-tabs-hide">
				<a href="http://github.com/okidokiteam"><img src="/images/github_logo.png" alt="okidokitean github"></a><BR/>
				<p>All Projects are hosted on our <a href="http://github.com/okidokiteam">GitHub</a> repository and are licened under the <a href="#">Apache Software License v2.0</a></p>
				
				<div class="projects">
				<h1>Exxam</h1>
				<span>OSGi Integration Testing Framework based on <a href="http://www.ops4j.org">OPS4J Pax Tools</a>.</span>
				
				<h2>Sources</h2> 
				<span><a href="http://github.com/okidokiteam/exxam">http://github.com/okidokiteam/exxam</a></span>
				
				<h2>Continuous Integration Builds</h2> 
				<span><a href="http://okidokiteam.com/hudson/">http://okidokiteam.com/hudson/</a></span>
				
				<h2>Issue Tracker</h2> 
				<span><a href="#">http://okidokiteam.com/issues</a></span>
				
				<h2>Maven Repository</h2> 
				<span><a href="http://okidokiteam.com/nexus/">http://okidokiteam/nexus/</a/></span>
				
				<h1>Gouken</h1>
						<span>"a service hub per device"</span>

						<h2>Sources</h2> 
						<span><a href="http://github.com/okidokiteam/gouken">http://github.com/okidokiteam/gouken</a></span>

						<h2>Continuous Integration Builds</h2> 
						<span><a href="http://okidokiteam.com/hudson/">http://okidokiteam.com/hudson/</a></span>

						<h2>Issue Tracker</h2> 
						<span><a href="#">http://okidokiteam.com/issues</a></span>

						<h2>Maven Repository</h2> 
						<span><a href="http://okidokiteam.com/nexus/">http://okidokiteam/nexus/</a/></span>
				</div>
				
			</div>
			<div id="tabs-3" class="ui-tabs-hide">
				<div class="panel">
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'profile',
				  rpp: 4,
				  interval: 6000,
				  width: "100%",
				  height: 300,
				  theme: {
				    shell: {
				      background: '#ffffff',
				      color: '#000000'
				    },
				    tweets: {
				      background: '#ffffff',
				      color: '#000000',
				      links: '#000000'
				    }
				  },
				  features: {
				    scrollbar: false,
				    loop: false,
				    live: false,
				    hashtags: true,
				    timestamp: true,
				    avatars: false,
				    behavior: 'all'
				  }
				}).render().setUser('okidokiteam').start();
				</script>
			  </div>
			</div>
			<div id="tabs-4" class="ui-tabs-hide">
					All of our public slides are hosted on <a href="http://www.slideshare.net/tonimenzel">Slideshare Okidokiteam</a>.
				
				<div style="width:100%;margin:auto;"><object style="margin:0px" width="100%" height="341"><param name="movie" value="http://static.slidesharecdn.com/swf/egowidget2.swf"/><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed src="http://static.slidesharecdn.com/swf/egowidget2.swf" flashVars="feedurl=user/tonimenzel&widgettitle=Presentations" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="100%" height="341"></embed></object><br/><div style="font-size:11px;font-family:tahoma,arial;height:26px;padding-top:2px;text-align:left;"><a title="SlideShare" href="http://www.slideshare.net/?src=egowidget"><img src="http://static.slidesharecdn.com/swf/logo_embd.png" style="border:0px none;margin-bottom:-5px" alt="SlideShare"/></a> | <a href="http://www.slideshare.net/widgets/presentation-pack" title="Get your Presentation Pack">Get your Presentation Pack</a></div></div>
				
				<!--
				<ul class="posts">
			    <li><span>27 Feb 2010</span> &raquo; <a href="http://www.slideshare.net/tonimenzel/pax-exam-2">JAX London: Pax Exam 2.0 Preview</a></li>
			    <li><span>14 Nov 2009</span> &raquo; <a href="http://www.slideshare.net/tonimenzel/osgi-testing-pax-exam">Devoxx: Testing OSGi</a></li>
			    <li><span>12 May 2009</span> &raquo; <a href="http://www.slideshare.net/tonimenzel/ops4j-pax-tools-kickstart-your-osgi-adventure">Jazoon: Pax OSGi Tooling from OPS4J</a></li>
			  </ul>
			-->
			</div>
			<div id="tabs-5" class="ui-tabs-hide">
				<h1>Toni Menzel</h1>
				<p>Podbielskistr. 262 - Hannover - Germany</p>
				
				<h1>Mail</h1>
				<p>toni@okidokiteam.com</p>
				
				<h1>Twitter</h1>
				<p>http://twitter.com/tonit</p>
				
				<h1>Skype</h1>
				<p>tonitcom</p>
				
				<h1>Blog Updates</h1>
				 <a href="http://feeds.feedburner.com/okidokiteam">Subscribe to RSS Feed</a>
			    
			</div>

	</div>
</div>
 
  {{ content }}
  
  <div class="footer">
    <div class="contact">
    
    </div>
    <div class="contact">
     
    </div>
    
  </div>
</div>
<!--
<a href="http://github.com/okidokiteam"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork okidokiteam on GitHub" /></a>
-->
</body>
</html>
