<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Toni Menzel" />
   <link href="http://feeds.feedburner.com/okidokiteam" rel="alternate" title="okidokiteam" type="application/atom+xml" />
 	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a class="logo" href="/blog.html">okidokiteam</a>
    <a class="extra" href="/pages/about.html">support</a>
    <a class="extra" href="/pages/about.html">about</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        (c) okidokiteam 2010<br />
        toni@okidokiteam.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/okidokiteam/">github.com/okidokiteam</a><br />
        <a href="http://twitter.com/tonit/">twitter.com/tonit</a><br />
        <a href="http://www.slideshare.net/tonimenzel/">http://www.slideshare.net/tonimenzel</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/okidokiteam">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/okidokiteam"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork okidokiteam on GitHub" /></a>

<!-- Google Analytics -->
<!-- Google Analytics end -->

</body>
</html>
